<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <script src="jsfiles/jquery-3.6.0.js"></script>
        <script src="jsfiles/robbytest.js" defer></script>
    </head>
    <body>
       <div>
            <button type="button" class="switch" id="submitB">Log In</button>
            <!--Changes-->
        </div>
    </body>
</html>